# ==============================================
# КОНФИГУРАЦИЯ СИСТЕМЫ МОНИТОРИНГА ЛОГОВ
# ==============================================

# Порты сервисов
GRAFANA_PORT=5001
LOKI_PORT=5201

# Пути к хранилищу данных
LOKI_DATA_PATH=./data/loki
GRAFANA_DATA_PATH=./data/grafana

# Источники логов (можно указать абсолютный путь)
LOG_SOURCE_PATH=./logs

# Директория инфра конфигураций
CONFIG_DIR=./config-example

# Учетные данные Grafana
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin
