# Данные и логи
data/
logs/
*.log

# Environment файлы с секретами
.env

# Docker volumes
loki-data
grafana-data

# MacOS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Временные файлы
*.tmp
*.temp
positions.yaml

# Бинарники
go-demo/app
go-demo/*.exe
